{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es2020": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/display-name": 0
  },
  "overrides": [
    {
      "files": [
        "src/app/transformers/stages/index.js"
      ],
      "rules": {
        "import/export": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
