.DS_Store

.circleci
.github
.husky

.editorconfig
.eslintignore
.eslintrc

.gitattributes
.gitignore

.depsrc
.browserslistrc

# NPM
.npmignore
.npmrc

# NVM
.nvmrc

README.md
coverage
__tests__
__mocks__
jest.config.cjs
test
